server {
  listen 80;
  server_name {{ nginx.vhosts.grafana.vhost }};
  access_log /var/log/nginx/{{ nginx.vhosts.grafana.vhost }}.access.log;
  error_log /var/log/nginx/{{ nginx.vhosts.grafana.vhost }}.error.log;
  include letsencrypt.conf;
}
