server {
  listen 80;
  server_name {{ nginx.vhosts.grafana.vhost }};
  include letsencrypt.conf;
  if ($host = {{ nginx.vhosts.grafana.vhost }}) {
    return 301 https://$host$request_uri;
  }
  return 404;
}

server {
  listen 443 ssl;
  server_name {{ nginx.vhosts.grafana.vhost }};
  access_log /var/log/nginx/{{ nginx.vhosts.grafana.vhost }}.access.log;
  error_log /var/log/nginx/{{ nginx.vhosts.grafana.vhost }}.error.log;
  ssl_certificate /etc/letsencrypt/live/{{ nginx.vhosts.grafana.vhost }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ nginx.vhosts.grafana.vhost }}/privkey.pem;
  ssl_dhparam /etc/ssl/dhparams.pem;
  include ssl_params;
  include letsencrypt.conf;

    location / {
      proxy_pass http://{{ nginx.vhosts.grafana.proxyPath }};
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
  }
}
