<?xml version="1.0"?>
<yandex>
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>
    <send_crash_reports>
        <enabled>false</enabled>
        <anonymize>false</anonymize>
        <endpoint>https://6f33034cfe684dd7a3ab9875e57b1c8d@o388870.ingest.sentry.io/5226277</endpoint>
    </send_crash_reports>
{% if 'display_name' in clickhouse %}
    <display_name>{{ clickhouse.display_name }}</display_name>
{% endif %}
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <mysql_port>9004</mysql_port>
    <interserver_http_port>9009</interserver_http_port>
    <listen_host>{{ clickhouse.listen_host }}</listen_host>
    <max_connections>4096</max_connections>
    <keep_alive_timeout>3</keep_alive_timeout>
    <max_concurrent_queries>100</max_concurrent_queries>
    <max_server_memory_usage>0</max_server_memory_usage>
    <max_thread_pool_size>10000</max_thread_pool_size>
    <max_server_memory_usage_to_ram_ratio>{{ clickhouse.max_server_memory_usage_to_ram_ratio }}</max_server_memory_usage_to_ram_ratio>
    <total_memory_profiler_step>4194304</total_memory_profiler_step>
    <total_memory_tracker_sample_probability>0</total_memory_tracker_sample_probability>
    <uncompressed_cache_size>8589934592</uncompressed_cache_size> # CACHE FOR SELECTS
    <mark_cache_size>5368709120</mark_cache_size> # CACHE FOR INDEXs
    <path>{{ clickhouse.storage.path }}</path>
    <tmp_path>{{ clickhouse.storage.tmp_path }}</tmp_path>
    <user_files_path>{{ clickhouse.storage.user_files_path }}</user_files_path>
    <access_control_path>{{ clickhouse.storage.access_control_path }}</access_control_path>
    <users_config>users.xml</users_config>
    <default_profile>default</default_profile>
    <custom_settings_prefixes></custom_settings_prefixes>
    <default_database>default</default_database>
    <timezone>{{ clickhouse.timezone }}</timezone>
    <mlock_executable>true</mlock_executable>
    <remote_servers incl="clickhouse_remote_servers" >
{% if 'clusters' in clickhouse %}
{% for clusters in clickhouse.clusters %}
        <{{ clusters.clusterName }}>
{% for shard in clusters.shards %}
            <shard>
{% if 'internal_replication' in shard %}
                <internal_replication>{{ shard.internal_replication | lower }}</internal_replication>
{% else %}
                <internal_replication>false</internal_replication>
{% endif %}
{% if 'weight' in shard %}
                <weight>{{ shard.weight }}</weight>
{% else %}
                <weight>1</weight>
{% endif %}
{% if 'replicas' in shard %}
{% for replica in shard.replicas %}
                <replica>
{% if 'host' in replica %}
                    <host>{{ replica.host }}</host>
{% endif %}
{% if 'port' in replica %}
                    <port>{{ replica.port }}</port>
{% else %}
                    <port>9000</port>
{% endif %}
{% if 'priority' in replica %}
                    <priority>{{ replica.priority }}</priority>
{% else %}
                    <priority>1</priority>
{% endif %}
                </replica>
{% endfor %}
{% endif %}
            </shard>
{% endfor %}
        </{{ clusters.clusterName }}>
{% endfor %}
{% endif %}
    </remote_servers>
{% if 'zookeeper' in clickhouse %}
    <zookeeper>
{% for zookeeper in clickhouse.zookeeper %}
      <node index="{{ zookeeper.id }}">
        <host>{{ zookeeper.host }}</host>
        <port>{{ zookeeper.port }}</port>
      </node>
{% endfor %}
    </zookeeper>
{% else %}
    <zookeeper incl="zookeeper-servers" optional="true" />
{% endif %}
    <macros incl="macros" optional="true" />
    <builtin_dictionaries_reload_interval>3600</builtin_dictionaries_reload_interval>
    <max_session_timeout>3600</max_session_timeout>
    <default_session_timeout>60</default_session_timeout>
    <prometheus>
        <endpoint>{{ clickhouse.prometheus.endpoint }}</endpoint>
        <port>{{ clickhouse.prometheus.port }}</port>
        <metrics>true</metrics>
        <events>true</events>
        <asynchronous_metrics>true</asynchronous_metrics>
        <status_info>true</status_info>
    </prometheus>

    <query_log>
        <database>system</database>
        <table>query_log</table>
        <partition_by>toYYYYMM(event_date)</partition_by>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    </query_log>

    <trace_log>
        <database>system</database>
        <table>trace_log</table>

        <partition_by>toYYYYMM(event_date)</partition_by>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    </trace_log>

    <query_thread_log>
        <database>system</database>
        <table>query_thread_log</table>
        <partition_by>toYYYYMM(event_date)</partition_by>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    </query_thread_log>

    <part_log>
        <database>system</database>
        <table>part_log</table>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    </part_log>

    <metric_log>
        <database>system</database>
        <table>metric_log</table>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        <collect_interval_milliseconds>1000</collect_interval_milliseconds>
    </metric_log>

    <asynchronous_metric_log>
        <database>system</database>
        <table>asynchronous_metric_log</table>
        <flush_interval_milliseconds>60000</flush_interval_milliseconds>
    </asynchronous_metric_log>

    <crash_log>
        <database>system</database>
        <table>crash_log</table>

        <partition_by />
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
    </crash_log>
{% if 'dictionaries_config' in clickhouse %}
    <dictionaries_config>{{ clickhouse.dictionaries_config }}</dictionaries_config>
{% else %}
    <dictionaries_config>*_dictionary.xml</dictionaries_config>
{% endif %}
    <compression incl="clickhouse_compression">
        <case>
            <min_part_size>10000000000</min_part_size>
            <min_part_size_ratio>0.01</min_part_size_ratio>
            <method>zstd</method>
        </case>
    </compression>

    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
</yandex>
