<yandex>
{% if 'dicts' in clickhouse %}
{% for dict in clickhouse.dicts %}
    <dictionary>
        <name>{{ dict.dictName }}</name>
        <source>
{% if 'file' in dict.sourse %}
            <file>
                <path>{{ dict.sourse.file }}</path>
                <format>{{ dict.sourse.format }}</format>
            </file>
{% endif %}
        </source>
        <layout>
            <flat />
        </layout>
{% if 'structure' in dict %}
        <structure>
{% for k, v in dict.structure.items() %}
            <{{ k }}>
{% for k1, v1 in v.items() %}
                <{{ k1 }}>{{ v1 }}</{{ k1 }}>
{% endfor %}
            </{{ k }}>
{% endfor %}
        </structure>
{% endif %}
        <lifetime>{{ dict.lifetime }}</lifetime>
    </dictionary>
{% endfor %}
{% endif %}
</yandex>
