<?xml version="1.0"?>
<yandex>
    <profiles>
{% for profile in clickhouse.usersProfiles %}
        <{{ profile.profileName }}>
{% for k, v in profile.items() %}
{% if k !=  "profileName" %}
            <{{ k }}>{{ v }}</{{ k }}>
{% endif %}
{% endfor %}
        </{{ profile.profileName }}>
{% endfor %}
    </profiles>
    <users>
{% for user in clickhouse.users %}
        <{{ user.userName }}>
            <password>{{ user.password }}</password>
            <networks incl="networks" replace="replace">
{% for ip in user.networks %}
                <ip>{{ ip }}</ip>
{% endfor %}
            </networks>
{% if 'profile' in user %}
            <profile>{{ user.profile }}</profile>
{% else %}
            <profile>default</profile>
{% endif %}
{% if 'quota' in user %}
            <quota>{{ user.quota }}</quota>
{% else %}
            <quota>default</quota>
{% endif %}
{% if 'databases' in user %}
            <databases>
{% for db in user.databases %}
                <{{db.dbName}}>
{% for table in db.tables %}
                    <{{table}}>
                    </{{table}}>
{% endfor %}
                </{{db.dbName}}>
{% endfor %}
            </databases>
{% endif %}
        </{{ user.userName }}>
{% endfor %}
    </users>
    <quotas>
{% for quota in clickhouse.quotas %}
        <{{ quota.quotaName }}>
{% if 'interval' in quota %}
            <interval>
{% for k, v in quota.interval.items() %}
                <{{ k }}>{{ v }}</{{ k }}>
{% endfor %}
            </interval>
{% endif %}
        </{{ quota.quotaName }}>
{% endfor %}
    </quotas>
</yandex>
