[Unit]
Requires=network.target remote-fs.target zookeeper.service kafka.service
After=network.target remote-fs.target zookeeper.service kafka.service

[Service]
Type=simple
ExecStart={{ kafka.homeDir }}/{{ kafka.prometheusExporter.archiveDirName }}/kafka_exporter \
{% for server in kafka.prometheusExporter.kafkaServers %}
--kafka.server={{server}} \
{% endfor %}
--web.listen-address={{kafka.prometheusExporter.bindAddress}}:{{kafka.prometheusExporter.bindPort}}
Restart=on-failure
User={{ kafka.userName }}
Group={{ kafka.groupName }}
SyslogIdentifier=

[Install]
WantedBy=multi-user.target
