[Unit]
Requires=network.target remote-fs.target zookeeper.service
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
ExecStart=/bin/sh -c '{{ kafka.homeDir }}/{{ kafka.archiveDirName }}/bin/kafka-server-start.sh {{ kafka.homeDir }}/{{ kafka.archiveDirName }}/config/server.properties >> {{ kafka.log }} 2>&1'
ExecStop={{ kafka.homeDir }}/{{ kafka.archiveDirName }}/bin/kafka-server-stop.sh
Restart=on-failure
User={{ kafka.userName }}
Group={{ kafka.groupName }}
SyslogIdentifier={{ kafka.prometheusExporter.systemdUnitName }}

[Install]
WantedBy=multi-user.target
