broker.id={{ kafka.brokerID }}
listeners=PLAINTEXT://{{ kafka.bindAddress }}:{{ kafka.bindPort }}
advertised.listeners=PLAINTEXT://{{ kafka.bindAddress }}:{{ kafka.bindPort }}
listener.security.protocol.map=PLAINTEXT:PLAINTEXT
num.network.threads={{ kafka.numNetworkThreads }}
num.io.threads={{ kafka.numIOThreads }}
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
log.dirs={{ kafka.storagePath | join(",") }}
num.partitions={{ kafka.numPartitions }}
num.recovery.threads.per.data.dir={{ kafka.numRecoveryThreadsPerDataDir }}
offsets.topic.replication.factor=1
offsets.retention.minutes={{ kafka.offsetsRetentionMinutes }}
transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1
log.flush.interval.messages=10000
log.flush.interval.ms=1000
log.retention.hours={{ kafka.logRetentionHours }}
log.retention.bytes=1073741824
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000
zookeeper.connect={{ kafka.zookeeperHosts | join(",") }}/{{ kafka.zookeeperPath }}
zookeeper.connection.timeout.ms=18000
group.initial.rebalance.delay.ms=3
