[Unit]
  Description=Node Exporter
  Wants=network-online.target
  After=network-online.target

[Service]
  User=node_exporter
  Group=node_exporter
  Type=simple
  ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address="{{ nodeExporter.bindAddress }}:{{ nodeExporter.bindPort }}"
  ExecReload=/bin/kill -HUP

[Install]
