storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  port: {{ mongo.net.port }}
  bindIp: {{ mongo.net.bindIp }}

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:
  clusterIpSourceWhitelist:
{% for address in mongo.security.clusterIpSourceWhitelist %}
    - {{ address }}
{% endfor %}
