# The number of milliseconds of each tick
tickTime={{ zookeeper.config.tickTime }}
# The number of ticks that the initial 
# synchronization phase can take
initLimit={{ zookeeper.config.initLimit }}
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit={{ zookeeper.config.syncLimit }}
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir={{ zookeeper.dbFiles.dataDir }}
# the port at which the clients will connect
clientPort={{ zookeeper.config.clientPort }}
# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns={{ zookeeper.config.maxClientCnxns }}
maxSessionTimeout={{ zookeeper.config.maxSessionTimeout }}
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount={{ zookeeper.config.autopurgeSnapRetainCount }}
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval={{ zookeeper.config.autopurgepurgeInterval }}

4lw.commands.whitelist={{ zookeeper.config.commandWhitelist }}

## Metrics Providers
#
# https://prometheus.io Metrics Exporter
{% if zookeeper.config.metrics.enabled %}
metricsProvider.className={{ zookeeper.config.metrics.className }}
metricsProvider.httpPort={{ zookeeper.config.metrics.httpPort }}
metricsProvider.exportJvmInfo={{ zookeeper.config.metrics.exportJvmInfo }}
{% endif %}
{% if zookeeper.config.cluster %}
{% endif %}
