[Unit]
Description=Apache ZooKeeper
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
EnvironmentFile={{ zookeeper.user.home }}/.env
Type=simple
PIDFile={{ zookeeper.dbFiles.runDir }}/zookeeper.pid
User={{ zookeeper.user.name }}
Group={{ zookeeper.user.name }}
ExecStart={{ zookeeper.user.home }}/{{ zookeeper.archiveFolder }}/bin/zkServer.sh --config {{ zookeeper.user.home }}/{{ zookeeper.archiveFolder }}/conf start-foreground
ExecStop={{ zookeeper.user.home }}/{{ zookeeper.archiveFolder }}/bin/zkServer.sh --config {{ zookeeper.user.home }}/{{ zookeeper.archiveFolder }}/conf stop
ExecReload={{ zookeeper.user.home }}/{{ zookeeper.archiveFolder }}/bin/zkServer.sh --config {{ zookeeper.user.home }}/{{ zookeeper.archiveFolder }}/conf restart
Restart=on-failure
SyslogIdentifier=zookeeper

[Install]
WantedBy=default.target
