server {
  listen 80;
  server_name {{ nginx.vhosts.prometheus.vhost }};
  access_log /var/log/nginx/{{ nginx.vhosts.prometheus.vhost }}.access.log;
  error_log /var/log/nginx/{{ nginx.vhosts.prometheus.vhost }}.error.log;
  include letsencrypt.conf;
}
