server {
  listen 80;
  server_name {{ nginx.vhosts.prometheus.vhost }};
  include letsencrypt.conf;
  if ($host = {{ nginx.vhosts.prometheus.vhost }}) {
    return 301 https://$host$request_uri;
  }
  return 404;
}

server {
  listen 443 ssl;
  server_name {{ nginx.vhosts.prometheus.vhost }};
  access_log /var/log/nginx/{{ nginx.vhosts.prometheus.vhost }}.access.log;
  error_log /var/log/nginx/{{ nginx.vhosts.prometheus.vhost }}.error.log;
  ssl_certificate /etc/letsencrypt/live/{{ nginx.vhosts.prometheus.vhost }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ nginx.vhosts.prometheus.vhost }}/privkey.pem;
  ssl_dhparam /etc/ssl/dhparams.pem;
  include ssl_params;
  include letsencrypt.conf;
  auth_basic "Restricted Content";
  auth_basic_user_file /etc/nginx/.prometheusPassword;

    location / {
      proxy_pass http://{{ nginx.vhosts.prometheus.proxyPath }};
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
  }
}
