#!/bin/bash
MONGODUMP="/usr/bin/mongodump"
MONGO_DATABASE="{{ backups.mongo.backupDatabase }}"
BUCKET="{{ AWS.BUCKET }}"
BUCKETPATH="{{ backups.mongo.bucketPath }}"
TIMESTAMP=`date +%F-%H-%M-%S`
backupPATH="{{ backups.mongo.backupDir }}/$HOSTNAME-$TIMESTAMP"
ARCHIVE="mondodb-$HOSTNAME-$TIMESTAMP.tar.gz"


echo "$(date) Lock db $MONGO_DATABASE"
mongo admin --username={{ backups.mongo.adminRootName }} --password={{ backups.mongo.adminPassword }} --eval "printjson(db.fsyncLock())"
if [ $? == 0 ]; then
  echo "mongobackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "mongobackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Backuping db $MONGO_DATABASE"
$MONGODUMP --username={{ backups.mongo.adminRootName }} --password={{ backups.mongo.adminPassword }} --authenticationDatabase=admin -d $MONGO_DATABASE --out=$backupPATH
if [ $? == 0 ]; then
  echo "mongobackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "mongobackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Unlock db $MONGO_DATABASE"
mongo admin --username={{ backups.mongo.adminRootName }} --password={{ backups.mongo.adminPassword }} --eval "printjson(db.fsyncUnlock())"
if [ $? == 0 ]; then
  echo "mongobackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "mongobackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Compress backup db $MONGO_DATABASE"
tar czf $ARCHIVE $backupPATH
if [ $? == 0 ]; then
  echo "mongobackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "mongobackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Send backup db $MONGO_DATABASE to AWS"
s3cmd put $ARCHIVE s3://$BUCKET/$BUCKETPATH/$ARCHIVE
if [ $? == 0 ]; then
  echo "mongobackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "mongobackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Clean local files $MONGO_DATABASE"
rm -rf $backupPATH 
rm -rf $ARCHIVE
echo "Job has done!"


