#!/bin/bash

PGDUMP="/usr/bin/pg_dump"
PGDATABASE="{{ backups.postgres.backupDatabase }}"
BUCKET="{{ AWS.BUCKET }}"
BUCKETPATH="{{ backups.postgres.bucketPath }}"
TIMESTAMP=`date +%F-%H-%M-%S`
backupPATH="{{ backups.postgres.backupDir }}/$HOSTNAME-$TIMESTAMP"
ARCHIVE="postgres-$HOSTNAME-$TIMESTAMP.tar.gz"
cd /var/lib/postgresql/12/main/

echo "$(date) Backuping db $PGDATABASE"
sudo -u postgres $PGDUMP  $PGDATABASE > ${backupPATH}.sql
if [ $? == 0 ]; then
  echo "postgresbackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "postgresbackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Compress backup db $PGDATABASE"
tar czf {{ backups.postgres.backupDir }}/$ARCHIVE ${backupPATH}.sql
if [ $? == 0 ]; then
  echo "postgresbackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "postgresbackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Send backup db $PGDATABASE to AWS"
s3cmd put {{ backups.postgres.backupDir }}/$ARCHIVE s3://$BUCKET/$BUCKETPATH/$ARCHIVE
if [ $? == 0 ]; then
  echo "postgresbackupfail 0" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
else
  echo "postgresbackupfail 1" | curl --data-binary @- http://{{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}/metrics/job/backup
  exit 1
fi
echo "$(date) Clean local files $PGDATABASE"
rm -rf ${backupPATH}.sql
rm -rf {{ backups.postgres.backupDir }}/$ARCHIVE
echo "Job has done!"
