[Unit]
  Description=Prometheus
  Wants=network-online.target
  After=network-online.target

[Service]
Type=simple

User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus \
  --web.console.libraries=/etc/prometheus/console_libraries \
  --web.console.templates=/etc/prometheus/consoles \
  --web.listen-address={{ prometheus.bindAddress }}:{{ prometheus.bindPort }} \
  --web.external-url={{ prometheus.externalURL }} \
  --web.route-prefix="/"
LimitNOFILE=infinity
SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
