[Unit]
  Description=Pushgateway
  Wants=network-online.target
  After=network-online.target

[Service]
Type=simple

User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/pushgateway \
  --web.listen-address={{ pushgateway.bindAddress }}:{{ pushgateway.bindPort }}
SyslogIdentifier=pushgateway
Restart=always

[Install]
WantedBy=multi-user.target
